<section class="section section-lg pt-lg-0 mt--150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <!--Ng ngFor on -->
          <div class="col-lg-4" *ngFor="let host of hosting">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div [ngClass]="['icon', 'icon-shape',host.color[0], 'rounded-circle' ,'mb-4']">
                  <i [ngClass]="host.icon"></i>
                </div>
                 <div [ngClass]="[host.color[1],'']"><h1>{{host.valor}}</h1></div>{{ host.periodo }}
                <h6 [ngClass]="[host.color[1], 'text-uppercase']">{{ host.plan }}</h6>
                <p class="description mt-3">{{ host.detalles }}</p>
                <div *ngFor="let detalle of host.caracteristicas">
                  <span [ngClass]="['badge', 'badge-pill', host.color[2]]">{{detalle}}</span>
                </div>
                
                <a href="javascript:void(0)" class="btn btn-primary mt-4">Contratar</a>
              </div>
            </div>
          </div>
          <!--Ng ngFor off -->
        </div>
      </div>
    </div>
  </div>
</section>