<!--<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-indigo-slight flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp" data-wow-delay="0.3s">
          <img class="logo-ncai wow fadeInLeft" data-wow-delay="1.3s" src="./../../assets/img/white_logo_transparent_background.png">
          <h2 class="wow fadeInRight" data-wow-delay="1.3s">¡SOMOS LA SOLUCIÓN QUE ESTABAS BUSCANDO!</h2>
          <h5 class="wow fadeInRight" data-wow-delay="1.3s">Somos expertos en automatizacion de procesos y desarrollo</h5>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="position-relative">
  <!-- shape Hero -->
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3  text-white">¡SOMOS LA SOLUCIÓN QUE ESTABAS BUSCANDO!
              <span>Somos expertos en automatizacion de procesos y desarrollo</span>
            </h1>
            <p class="lead  text-white">The design system comes with four pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <div class="btn-wrapper">
              <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page" class="btn btn-info btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                <span class="btn-inner--text">Components</span>
              </a>
              <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                <span class="btn-inner--text">Download Angular</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- 1st Hero Variation -->
</div>