<section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">

          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let project of projects">
                <div class="card bg-default shadow border-0">
                    <img [src]="project.image" class="card-img-top">
                    <blockquote class="card-blockquote">
                      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                        <polygon points="0,52 583,95 0,95" class="fill-default" />
                        <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                      </svg>
                      <h4 class="display-3 font-weight-bold text-white">{{project.name }}</h4>
                      <p class="lead text-italic text-white">{{ project.descripcion_corta }}</p>
                    </blockquote>
                  </div>
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Nuestros Proyectos</h3>
            <p class="lead">
                Nosotros no tenemos clientes, tenemos proyectos, ya que nos comprometemos con ellos y los hacemos como si fueran para nosotros,
                nos apasiona ver la cara de satisfacción de las personas al ver su producto terminado y lo apasionados que estan por él tanto como nosotros.
              </p>
              <p>Nuestro factor diferencial es que nos comprometemos contigo y tu proyecto colocando todo el conocimiento y el corazón en ello.</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">Ve el impacto que generamos</a>
          </div>
        </div>
      </div>
    </div>
  </section>