

@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

.logo-ncai{
    width: 40vh;
    margin: auto;
}

.section-shaped .shape-style-1.shape-default {
    background: linear-gradient(150deg, #D94718 15%, #d99d15 70%, #eaba76 94%);
}
