<div class="position-relative">
  <!-- shape Hero -->
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="img">
                <img class="logo-ncai" src="./assets/img/white_logo_transparent_background.png">
            </div>
            <h1 class="display-3 text-white">¡SOMOS LA SOLUCIÓN QUE ESTABAS BUSCANDO!
            </h1>
            <p class="lead  text-white">Desarrollamos software para tu empresa o proyecto, de acuerdo a tus necesidades y con la 
              funcionalidad que tú quieras. Confeccionamos desde paneles de administración, API, controles de inventario, sistema de ventas, aplicaciones iOS, Android y páginas web interactivas y autoadministrable.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- 1st Hero Variation -->
</div>